@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Gotham Pro", sans-serif; }

.container {
  padding-right: 0;
  padding-left: 0; }

.starter-wraper {
  background-color: #000000;
  background-image: url("../img/header_bg.jpg");
  background-position: top;
  background-repeat: no-repeat; }

.header {
  color: #ffffff;
  padding-top: 30px;
  margin-bottom: 105px; }

.header__name {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700; }

.header-contacts__cta {
  display: inline-block;
  margin-right: 25px;
  margin-left: 78px;
  font-size: 12px; }
.header-contacts__tel {
  font-size: 24px; }

.main-text {
  color: #ffffff;
  margin-bottom: 55px; }
  .main-text__title {
    font-size: 84px;
    font-weight: 700;
    line-height: 84px;
    margin-top: 0;
    margin-bottom: 45px; }
  .main-text__subtitle {
    font-size: 31px;
    font-weight: 400;
    line-height: 48px; }

.main-features {
  color: #fbc91e;
  display: flex;
  text-align: center;
  font-weight: 700;
  margin-bottom: 32px; }
  .main-features__price {
    margin-right: 120px;
    font-size: 18px;
    line-height: 55px;
    margin-top: 0; }
    .main-features__price--big {
      font-size: 77px;
      line-height: 77px; }
  .main-features__time {
    margin-right: 120px;
    font-size: 18px;
    line-height: 55px;
    margin-top: 0; }
    .main-features__time--big {
      font-size: 77px;
      line-height: 77px; }

.form {
  padding: 30px 30px 30px 25px;
  background-color: #fff;
  max-width: 400px;
  margin-left: auto; }

.form__input {
  max-width: 365px;
  width: 100%;
  height: 58px;
  margin-bottom: 18px;
  border-radius: 4px;
  border: 2px solid #eaeaea;
  background-color: #f6f6f6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  color: #999999;
  font-size: 16px;
  font-weight: 400; }

.form__input--main {
  color: #202020;
  padding-bottom: 10px; }

.form__input--wraper {
  position: relative; }
  .form__input--wraper::before {
    content: "Вид топлива";
    position: absolute;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    left: 21px;
    top: 7px; }

.form__checkbox {
  display: none; }

.form__checkbox-lable {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.03px; }
  .form__checkbox-lable::before {
    content: "";
    display: inline-block;
    width: 22px;
    height: 23px;
    vertical-align: middle;
    margin-right: 9px;
    border-radius: 4px;
    border: 1px solid #ededed; }

.form__checkbox-lable a {
  color: #999999; }

.form__checkbox:checked + .form__checkbox-lable::before {
  content: "";
  background-size: 14px 11px;
  background-image: url("../img/checkbox.png");
  background-position: center;
  background-repeat: no-repeat; }

.form__button {
  max-width: 365px;
  width: 100%;
  height: 58px;
  margin-top: 20px;
  border-radius: 4px;
  border: 2px solid #eaeaea;
  background-color: #fbc91e;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: auto;
  font-size: 18px;
  font-weight: 500; }

.product {
  background-color: #fff;
  margin-bottom: 52px; }

.product-text {
  margin-top: 80px;
  color: #333333;
  padding-right: 280px; }
  .product-text__title {
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 30px; }
  .product-text__subtitle {
    margin-top: 0;
    margin-bottom: 55px;
    font-size: 24px;
    font-weight: 400;
    line-height: 38px; }

.product-presentation {
  width: 372px;
  min-height: 409px;
  border: 10px solid #eaeaea;
  background-color: #ffffff;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px 30px 40px 30px;
  position: relative;
  perspective: 1000px; }
  .product-presentation::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    background-image: url("../img/arrow.png");
    background-position: top right;
    background-repeat: no-repeat;
    bottom: 0px;
    right: 0px; }
  .product-presentation::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: -10px;
    border: 34px solid transparent;
    border-right: 34px solid #fbc91e;
    border-bottom: 34px solid #fbc91e; }
  .product-presentation__image {
    max-width: 100%;
    max-height: 100%;
    object-fit: scale-down;
    align-self: flex-start; }
  .product-presentation__engine-capacity {
    display: block;
    font-size: 36px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 31px;
    padding-left: 33px; }
  .product-presentation__characteristics {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding: 0;
    padding-left: 33px;
    margin-top: 35px; }
  .product-presentation__size {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 5px;
    margin-bottom: 25px; }

.product-form,
.product-card {
  position: absolute;
  left: -10px;
  right: -10px;
  top: -10px;
  bottom: -10px;
  transition: 1s;
  backface-visibility: hidden;
  z-index: 3;
  display: none; }

.product-card {
  background-color: #fbc91e;
  padding: 30px 60px; }
  .product-card__stats {
    width: 100%;
    color: #202020;
    font-size: 16px;
    font-weight: 400; }

.stats__value,
.stats__field {
  width: 50%;
  padding-bottom: 12px; }

.stats__value {
  padding-left: 0; }

.stats__field {
  padding-right: 0;
  text-align: right; }

.menu-btn {
  position: absolute;
  bottom: 20px;
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid #222222;
  background-color: transparent;
  cursor: pointer; }
  .menu-btn:hover {
    background-color: #e2b004; }

.product-form {
  background-color: #ffffff;
  border: 10px solid #eaeaea;
  padding: 5px 25px 15px 15px;
  transform: rotateY(180deg); }

.product-form__button {
  color: #010101;
  font-size: 18px;
  font-weight: 500;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #222222;
  padding-top: 18px;
  margin-top: 25px;
  cursor: pointer; }
  .product-form__button:hover {
    background-color: #fbc91e; }

.product-popup--close {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 37px;
  opacity: 0.6;
  color: #2e3541;
  font-weight: 10;
  cursor: pointer; }

.product-presentation:hover .product-card,
.product-presentation:hover .product-form {
  display: block; }

.product-card--hide {
  transform: rotateY(180deg); }

.product-form--show {
  transform: rotateY(360deg); }

.advantages {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #202020;
  color: #ffffff; }

.delivery__title {
  padding: 0;
  margin: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 32px; }
.delivery__text {
  padding: 0;
  padding-right: 90px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px; }

.garanties__title {
  padding: 0;
  margin: 0;
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 32px;
  padding-left: 100px; }
.garanties__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px; }
  .garanties__list-item {
    margin-bottom: 60px;
    padding-left: 100px;
    position: relative; }

.garanties__list-item:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 71px;
  background-image: url("../img/time.png");
  background-position: center left;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px; }

.garanties__list-item:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 71px;
  background-image: url("../img/gas.png");
  background-position: center left;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px; }

.garanties__list-item:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 66px;
  height: 71px;
  background-image: url("../img/transporter.png");
  background-position: center left;
  background-repeat: no-repeat;
  bottom: 0px;
  left: 0px; }

.order {
  background-color: #fbc91e;
  background-image: url("../img/way.png"), url("../img/order-bg.png");
  background-position: 66% 55%, 0% 0%;
  background-repeat: no-repeat, no-repeat;
  position: relative; }

.order-form {
  margin-top: 44px;
  margin-left: 0;
  margin-bottom: 57px; }

.order-features {
  margin-top: 37px;
  margin-left: auto;
  width: 322px;
  box-shadow: -13px 13px 27px rgba(1, 1, 1, 0.1);
  background-color: #ffffff;
  color: #202020;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 15px 45px;
  position: relative; }
  .order-features::after {
    content: "";
    position: absolute;
    border: 20px solid transparent;
    border-left: 20px solid #fff;
    border-top: 20px solid #fff;
    bottom: -20px;
    left: 0; }
  .order-features__price {
    margin: 0;
    padding: 0;
    margin-right: 55px;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0; }
    .order-features__price--big {
      font-size: 77px;
      line-height: 77px; }
  .order-features__time {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 55px;
    margin-top: 0;
    font-size: 18px;
    line-height: 55px; }
    .order-features__time--big {
      font-size: 77px;
      line-height: 77px; }

.footer-wraper {
  background-color: #202020;
  padding-bottom: 25px;
  padding-top: 20px; }

.footer__title {
  padding: 0;
  margin: 0;
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 7px; }
.footer__subtitle {
  color: #818181;
  font-size: 12px;
  font-weight: 400; }
.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-left: 90px; }
  .footer-contacts__tel {
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 7px; }
  .footer-contacts__cta {
    color: #818181;
    font-size: 12px;
    font-weight: 400; }

.copyright-wraper {
  background-color: #282828; }

.footer-copyright {
  padding-top: 12px;
  padding-bottom: 13px; }
  .footer-copyright__link {
    color: #818181;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none; }

.footer-copyright__text {
  position: relative;
  margin-right: 125px; }
  .footer-copyright__text:hover {
    color: #fff; }
  .footer-copyright__text::after {
    content: "";
    position: absolute;
    width: 90px;
    height: 18px;
    background-image: url("../img/copyright.png");
    background-position: center center;
    background-repeat: no-repeat;
    left: 125px;
    top: 0px; }
