@font-face {
    font-family: 'Officina Serif C';
    src: url('OfficinaSerifC-Bold.eot');
    src: url('OfficinaSerifC-Bold.eot?#iefix') format('embedded-opentype'),
        url('OfficinaSerifC-Bold.woff2') format('woff2'),
        url('OfficinaSerifC-Bold.woff') format('woff'),
        url('OfficinaSerifC-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

