@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro/GothamPro-Bold.eot');
    src: url('GothamPro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamPro/GothamPro-Bold.woff2') format('woff2'),
        url('GothamPro/GothamPro-Bold.woff') format('woff'),
        url('GothamPro/GothamPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro/GothamPro.eot');
    src: url('GothamPro/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('GothamPro/GothamPro.woff2') format('woff2'),
        url('GothamPro/GothamPro.woff') format('woff'),
        url('GothamPro/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('Proxima_Nova/ProximaNova-Regular.woff2') format('woff2'),
        url('Proxima_Nova/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('Proxima_Nova/ProximaNova-Bold.woff2') format('woff2'),
        url('Proxima_Nova/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
