@font-face {
  font-family: "SpiralInitials";
  src: url("font/CelticFont/spiral_initials/spiri.eot");
  src: url("font/CelticFont/spiral_initials/spiri.eot?#iefix") format("embedded-opentype"),
    url("font/CelticFont/spiral_initials/spiri.woff") format("woff"),
    url("font/CelticFont/spiral_initials/spiri.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "NouveauUncialCaps";
  src: url("font/CelticFont/nouveau_uncial_caps/Nouveau_Uncial_Caps.eot");
  src: url("font/CelticFont/nouveau_uncial_caps/Nouveau_Uncial_Caps.eot?#iefix") format("embedded-opentype"),
    url("font/CelticFont/nouveau_uncial_caps/nouveau_uncial_caps-webfont.woff") format("woff"),
    url("font/CelticFont/nouveau_uncial_caps/Nouveau_Uncial_Caps.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
    font-family: 'Proxima Nova Cn Rg';
    src: url('font/Proxima_Nova/ProximaNovaCond-Bold.eot');
    src: url('font/Proxima_Nova/ProximaNovaCond-Bold.eot?#iefix') format('embedded-opentype'),
         url('font/Proxima_Nova/ProximaNovaCond-Bold.woff') format('woff'),
        url('font/Proxima_Nova/ProximaNovaCond-Bold.ttf') format('truetype'),
         font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('font/Proxima_Nova/ProximaNova-Regular.eot');
    src: url('font/Proxima_Nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  
        url('font/Proxima_Nova/ProximaNova-Regular.woff') format('woff'),
        url('font/Proxima_Nova/ProximaNova-Regular.ttf') format('truetype'),      
    font-weight: normal;
    font-style: normal;
}



