
.history__top {
  background: #F6F6F6;
  padding: 32px 0;
  margin-bottom: 32px;
}
h2 {
  text-align: left;
}
.dinamic {
  padding-top: 0;
  margin-bottom: 50px;
}
.dinamic__filter {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}
.filter__select {
  font-size: 16px;
  line-height: 24px;
}
.filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.filter__item label {
  margin-bottom: 0;
  color: #808EA1;
  font-size: 12px;
  line-height: 20px;
}
.filter__item:last-child {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.datepicker {
  margin-left: 0;
  padding: 6px 16px;
  width: 150px;
}
.dash {
  margin-left: 8px;
  margin-top: 38px;
}
.datepicker-form svg {
  top: 50%;
}
.filter__button {
  color: #000;
}
.chart-show {
  position: relative;
  margin-top: 12px;
}
.chart-show label {
  margin-left: 26px;
  color: #000;
}
.checkbox-icon {
  left: 0;
  top: 0;
}
.wefound {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #000;
  margin-bottom: 16px;
}
.summary {
  margin: 0;
  margin-bottom: 32px;
}
.summary__item {
  /* margin: 0 16px 0 0; */
}
.preriod {
  color: #000;
}
.dinamic__select {
  width: 68%;
  margin-left: 44px;
}
.dinamic {
  display: none;
}
.wefound {
  display: none;
}
.page-link {
  border: 1px solid #808EA1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #000;
  margin-right: 12px;
}
.page-link:hover {
  color: #4580F1;
}
.page-item.active .page-link {
  background-color: #4580F1;
  border-color: #4580F1;
}

@media (max-width: 1199px) {
  .chart {
    position: relative;
  }
  .dinamic {
    padding-top: 10px;
  }
  .summary {
    margin-top: 20px;
    margin-bottom: 32px;
  }
  .reports {
    margin-top: 32px;
  }
}
@media (max-width: 991px) {
  .dinamic__select {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 767px){ 
  .dinamic__filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dash {
    display: none;
  }
  .datepicker {
    width: 214px;
  }
  .datepicker-form svg {
    right: auto;
    left: 37%;
  }
  .mobile-menu__btn {
    z-index: 1;
  }
  .filter__button {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  h2 {
    text-align: center;
  }
  .filter__item {
    margin: 0 auto 12px;
  }
  .chart-show {
    margin: 0 auto;
    width: 45%;
  }
  .datepicker-form svg {
    right: auto;
    left: 85%;
  }
  .datepicker-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .filter__item {
    margin-bottom: 0;
  }
  .chart-show {
    margin-top: 20px;
  }
  .filter__button {
    margin-top: 12px;
  }
}
@media (max-width: 375px) {

  .chart-show {
    width: 75%;
  }
  .summary__item  {
    margin-bottom: 12px;
  }

}