.general__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.general__form {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}

.form__name,
.form__button {
  margin-left: 24px;
}

.form__button {
  margin-top: 17px;
}

.form__name label {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
}

.form__name input {
  border: 1px solid #E5E7EA;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  width: 432px;
  padding: 12px 16px;
}

.general,
.camera__options,
.object__accesses {
  margin-bottom: 48px;
}
.general__logo {
  position: relative;
}
.general__logo-hover {
  width: 100%;
  display: none;
  position: absolute;
  top: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.general__logo:hover .general__logo-hover {
  display: block;
}
.camera__top {
  font-size: 14px;
  line-height: 20px;
}

.camera__item {
  color: #000;
  font-size: 20px;
  line-height: 32px;
  padding: 16px 16px 0px;
  border: 1px solid #F5F6F7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 16px;
}

.camera__item.disabled {
  color: #808EA1;
  border: 1px solid #E5E7EA;
}
.camera__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.camera__name-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.camera__mark {
  width: 25px;
  height: 25px;
  border-radius: 4px;
  margin-right: 4px;
}

.accesses__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.accesses__text {
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.accesses__add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
  align-items: center;
}

.accesses__new {
  border: 1px dashed #808EA1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 18px 16px 0;
  position: relative;
  width: 305px;
  margin: 0 12px 12px 0;
}
.accesses__item {
  border-radius: 4px;
  padding: 16px;
  position: relative;
  width: 305px;
  border: none;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  margin: 0 12px 12px 0;
  border: 2px solid transparent;
  cursor: pointer;
}
.accesses__item.choose {
  border: 2px solid #4580F1;
}
.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
}



.colors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  
}
.camera__color {
  margin-bottom: 32px;
}
.camera__color p {
  margin-bottom: 0;
}
.colors__item {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}
.colors__item svg {
  position: absolute;
  top: 12px;
  left: 12px;
  display: none;
}
.colors__item.chosen svg {
  display: block;
}
.modal .camera__name,
.modal .camera__checklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 20px;
}

.camera__name input,
.camera__checklist select {
  width: 100%;
}
.camera__edit svg {
  fill: #808EA1;
}
.camera__time {
  margin-bottom: 20px;
}
.time__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.dash {
  border: 1px solid #000;
  margin-right: 8px;
}
.camera__frames p {
  margin-bottom: 0;
}
.frames__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.frames__item {
  padding: 12px 20px;
  border: 1px solid #E5E7EA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}
.frames__item:first-child {
  padding: 12px 16px;
}
.frames__item.active {
  border: 1px solid #4580F1;
}


.modal .objects__search {
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  margin: 0 auto 2rem;
  width: 80%;
}
.objects__search input {
  border: none;
}

#cameraOptions .modal-body {
  padding: 20px 120px;
}
#addUsers .modal-body {
  padding: 20px 80px;
}




@media (max-width: 1199px) {
  .accesses__item,
  .accesses__new {
    width: 290px;
  }
}
@media (max-width: 991px) {
  .camera__item {
    text-align: center;
    padding: 16px;
  }

  .camera__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item__label {
    color: #808EA1;
    font-size: 12px;
    line-height: 16px;
  }
.camera__name-inner,
.camera__time,
.camera__frame,
.camera__check {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
}
.camera__edit {
  color: #4580F1;
  font-size: 16px;
}
.camera__edit svg{
  fill: #4580F1;
}
  .modal .camera__time {
    font-size: inherit;
    line-height: inherit;
  }

  .modal .dash {
    margin-top: 34px;
  }
  .modal .accesses__item {
    width: 450px;
  }
    #cameraOptions .modal-body {
      padding: 20px 20px;
    }
      #addUsers .save_close {
        position: fixed;
        bottom: 5%;
      }
}
@media (max-width: 767px) { 
  .accesses__item,
  .accesses__new {
    width: 100%;
  }
  .modal .accesses__item {
    width: 100%;
  }
  .general__form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .form__name input {
    width: 350px;
  }
  .form__button {
    margin-left: 148px;
  }
  .modal .close {
    position: relative;
    top: auto;
    right: auto;
    color: inherit;
  }


  #addUsers .modal-body {
    padding: 20px 20px;
  }
}
@media (max-width: 575px) {

  .objects__search input {
    width: 250px;
  }
  .accesses__new {
    padding: 16px;
  }
  .delete-icon {
    position: absolute;
    top: 10px;
    right: 15px;
  }
  
}
@media (max-width: 575px) {
  .camera__mark {
    width: 16px;
    height: 16px;

  }
  .colors__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .colors__item {
    margin-bottom: 8px;
  }
  .form__name {
    margin-left: 12px;
  }
  .form__button {
    margin-left: 0;
    margin-top: 16px;
  }
  .general__form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
  }

}
@media (max-width: 375px) {
  .form__name {
    margin-left: 0;
    margin-top: 16px;
  }
  

}
@media (max-width: 320px) {
  .form__name input {
    width: 256px;
  }

}
